.text-intro {
  font-family: ‘Seiston’, sans-serif;
  color: #f9f6ed;
  font-size: 36px;
}
.img-introduction {
  transform: rotate(0deg); /* Bắt đầu xoay từ 0 độ */
  animation: rotation 15s linear infinite; /* Cài đặt hoạt động xoay vòng */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
