.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}
@font-face {
  font-family: "Seiston";
  src: url("./SVN-Seiston/SVN-Seiston.otf") format("truetype"),
    url("./SVN-Seiston/STYLEno.1\ Fonts.url") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.svn-seiston {
  font-family: "Seiston", sans-serif;
}

@font-face {
  font-family: "Poppins-vn";
  src: url("./DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf") format("truetype");
}

.poppins {
  font-family: 'Poppins-vn', sans-serif;
}

/* Custom styles for the pizza component */
.pizza {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  border-radius: 50%;
  background-color: tomato; /* Base color for pizza crust */
  position: relative;
}

.slice {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  transform-origin: 0 0;
}

.slice:nth-child(even) {
  transform: rotate(18deg); /* Rotate even slices */
}

.slice:nth-child(odd) {
  transform: rotate(-18deg); /* Rotate odd slices */
}

.toppings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Add styles for toppings (cheese, pepperoni, etc.) here */
}

@keyframes fades {
  0% { opacity: 1; }    /* Start at 100% opacity */
  10% { opacity: 0.9; } /* 90% opacity */
  20% { opacity: 0.8; } /* 80% opacity */
  30% { opacity: 0.7; } /* 70% opacity */
  40% { opacity: 0.6; } /* and so on... */
  50% { opacity: 0.5; }
  60% { opacity: 0.4; }
  70% { opacity: 0.3; }
  80% { opacity: 0.2; }
  90% { opacity: 0.1; }
  100% { opacity: 0; }  /* End at 0% opacity */
}

@keyframes jump-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Jump height */
  }
  75% {
    opacity: 0.5;
  }
  100% {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.jump {
  transition: transform 0.2s ease-in-out; /* Adjust transition properties */
  /* transform: translateY(-10px); Jump height */
  animation: jump-up 0.5s ease-in-out both;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 25%, 30%, 45%, 50%, 65%, 70%, 85%, 90% {
    transform: translateX(-3px);
  }
  15% ,20%, 35%, 40%, 55%, 60%, 75%, 80%, 95% {
    transform: translateX(3px);
  }
}

.shake {
  animation: shake 1s ease-in-out 0.6;
}
