.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}
@font-face {
  font-family: "Seiston";
  src: url("./SVN-Seiston/SVN-Seiston.otf") format("truetype"),
    url("./SVN-Seiston/STYLEno.1\ Fonts.url") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.svn-seiston {
  font-family: "Seiston", sans-serif;
}
